/* @font-face {
    font-family: CMR;
    src: url(../fonts/cmuserif_roman_macroman/cmunrm-webfont.woff);
  }
  @font-face {
    font-family: CMB;
    src: url(../fonts/cmuserif_bold_macroman/cmunbx-webfont.woff);
  } */

@import url('https://use.typekit.net/olf5jfg.css');

* {
    font-family: "gowun-batang", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* font-weight:700 재공*/


.LatexTitle{
    font-size: 5rem;
    padding-top: 20vh;
    text-align: center;
    margin-bottom: 20px;
}

.LatexName{
    font-size: 27px;
    text-align: center;
    margin-bottom: 13px;
}
.LatexDate{
    font-size: 1.275rem;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 45px;
}

.LatexAbstract{
    font-weight: bold;
    font-size: 1.325rem;
    text-align: center;
    margin-bottom: 10px;
}

.LatexAbstractText{
    margin-top:10px;
    font-size: 1.325rem;
    text-align: center;
    width:100%;
}

.Margins{
    width: 30%;
    margin: 0 auto;
}

.AbstractMargins{
    padding-left: 6%;
    width: 88%;
    padding-bottom: 15px;
}


.SubSection{
    font-size: 29px;
    text-align: Left;
    margin-top: 13px;
    margin-bottom: 20px;
}

section {
    padding:1.5rem 0 2rem 0
}
blockquote {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding:1rem 0;
}
section article p{
    font-size: 1.175rem;
    text-align: justify;
    margin:2.5rem 0 2.5rem 0;
    line-height: 160%;
    column-count: 1;
}
section > h5 {
    font-size: 33px;
    font-weight: 700;
    text-align: Left;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.BodyText2Col{
    font-size: 23px;
    text-align: Left;
    margin-top: 13px;
    margin-bottom: 45px;
    line-height: 125%;
    column-count: 2;
}

.BodyText3Col{
    font-size: 23px;
    text-align: Left;
    margin-top: 13px;
    margin-bottom: 45px;
    line-height: 125%;
    column-count: 3;
}

.Justified{
    text-align: justify;
    text-justify: inter-word;
}

.footerSize{
    height: 30vh;
    width: 100%;
}

.tiny{
    font-size: 8px;
}

.scriptsize{
    font-size: 11px;
}

.footnotesize{
    font-size: 13px;
}

.small{
    font-size: 15px;
}

.normalsize{
    font-size: 18px;
}

.large{
    font-size: 19px;
}

.Large{
    font-size: 23px;
}

.LARGE{
    font-size: 28px;
}

.huge{
    font-size: 33px;
}

.HUGE{
    font-size: 33px;
}






@media screen and (max-width:1680px){ 
    .Margins {width:45%;}
}

@media screen and (max-width:1440px){ 
    .Margins {width:50%;}
}

@media screen and (min-width:960px){ 
    .Margins {width:58%;}
}

@media screen and (min-width:414px){ 
    .Margins {width:80%;}
}